@model IEnumerable<Gerasite.Dominio.Entidades.Template>
@using Microsoft.AspNet.Identity;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Templates</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorTemplate)
            </th>
            <th>
                Imagem
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorTemplate)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.FOTO_ENDERECO))
                {
                    <img src="@Url.Content(item.FOTO_ENDERECO)" alt="Image" style="width:100px; height:100px; max-width:100%; height:auto;" />
                }
            </td>
            <td>
                @Html.ActionLink("Editar Template", "EditarTemplate", new { id = item.Id, idUser = User.Identity.GetUserId() })
            </td>
        </tr>
        }

    </table>
</body>
</html>
