@model Gerasite.Application.ViewModels.ManagerViewModels.EditUserViewModel
@using Microsoft.AspNet.Identity;
@{
    /**/

    Layout = "~/Views/Shared/_NavGerasite.cshtml";
    ViewBag.Title = "Editar Usuário";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" src="~/Content/EditarUsuario.css" />

<link rel="stylesheet" href="~/Content/dashboard.css" />
<script src="~/Scripts/dashboard.js" type="text/javascript"></script>

<div class="container-fluid">
    @{Html.RenderPartial("~/Views/Shared/_PartialMenuLateral.cshtml");}
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12"><br /><br /><br /></div>
    </div>
</div>
<section class="container-fluid">
    <div class="row form-horizontal">
        <div class="col-md-12">
            <h2>Configurações de Usuário</h2>
        </div>

        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="col-md-2 col-sm-2 hidden-xs">
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="form-group row ">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label" })
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row ">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label" })
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label"> Alterar Senha</label>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <a href="@Url.Action("EditPassword", "Manager", new { id = User.Identity.GetUserId() })"> Editar Senha</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 hidden-xs control-label"></label>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input class="btn btn-success" type="submit" value="Salvar Alterações" />
                        <input type="button" value="Cancelar" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Usuario")'" />
                    </div>
                </div>



            </div>
        }

    </div>
</section>
